<div class="custom-annoucement-bar">
    <a href="https://awesomepens.myshopify.com/collections/all" class="custom-annoucement-bar-link">
        <p class="custom-annoucement-bar-message">{{section.settings.announcement-bar-textg}}</p>
    </a>
</div>

<style>
    
</style>


{%schema%}
    {
        "name": "Custom annoucement bar",
        "settings": [
            {
               "type": "text",
               "id": "announcement-bar-text",
              "default": "This is your annoucemnt",
              "label": "Annoucement text"
            }
        ]
    }
{%endschema%}


{% stylesheet %}    
{% endstylesheet %}
{{'custom-annoucement-bar.css' | asset_url | stylesheet_tag}}

{% javascript %}
{% endjavascript %}

